flask  
flask-cors  
kiteconnect  
python-dotenv  
websockets  
requests  
urllib3  
pytz  
selenium  
pyotp  
supabase  
webdriver-manager  
gunicorn  
flask-socketio  
gevent  
gevent-websocket  
dnspython  
eventlet  